* {
    box-sizing: border-box;
  }

body {
    text-align: center;
    background-color: rgb(230, 220, 240);
}

img {
    width: 100px;
}

main {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 10px 20px;
    flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .items {
    flex: 40%;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
    main {
      flex-direction: column; 
    }
  }

.items {
    background-color: rgb(207, 208, 212);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 50px 20px 0 20px;
    flex: 20%;
}

button {
    background-color: black;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    width: 15%;
    font-size: large;
    margin-top: 30px;
}

 .items {
  position: relative;
} 

.items a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
